h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}


a[href]:not([class]) {
    color: #FF6E40;
    text-decoration: underline;
}

#footer a:not(:last-child) {
    display: inline-block;
    margin-right: 5px;
}

ul:not([class]) {
    list-style: disc;
}
ul:not([class]) li {
    list-style: disc;
    margin-left: 15px;
}


/*
 * Desktop
 */
@media (min-width: 720px) {
    html#mainpage, #mainpage body {
        height: 100%;
        margin: 0;
    }

    #mainpage body {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    #wrapper {
        width: 590px;
        height: 500px;
        /*margin: 80px;*/

        position: relative;
    }

    #logo {
        width: 300px;

        position: absolute;
        top: 75px;
        left: 0;
    }

    #teaser {
        position: absolute;
        top: 175px;
        font-weight: 300;
    }

    #teaser p {
        font-size: 1.03em;
    }

    #playstore {
        display: block;
        position: absolute;
        bottom: 120px;
        width: 175px;
    }

    #device {
        position: absolute;
        right: -80px;
        top: 0;

        width: 420px;
        height: 500px;

        background-image: url("img/screen-overview-left.png");
        background-size: cover;
    }

    #footer {
        position: absolute;
        bottom: 0;

        font-size: 0.8em;
    }
}

/*
 * Mobile
 */
@media (max-width: 719px) {
    #wrapper {
        width: 300px;
        margin: 25px auto;
        text-align: center;
    }

    #teaser {
        clear: both;
    }

    #logo {
        width: 55%;
        float: left;
        margin-bottom: 15px;
    }

    #playstore {
        display: block;
        width: 37%;
        float: right;
        margin-top: 5px;
    }

    #device {
        position: relative;
        clear: both;
        background-image: url("img/screen-overview-flat.png");
        background-size: cover;

        width: 350px;
        height: 598px;
        margin-left: -25px;
    }

    #footer {
        margin-top: 10px;
        font-size: 0.9em;
    }
}